<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193362731062-5oq9ke935981lirgh3s75ej2914160l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193362731062-5oq9ke935981lirgh3s75ej2914160l0</string>
	<key>API_KEY</key>
	<string>AIzaSyBPK5f-wuUxPVZZEwibMpNB3_9mz2yDWH0</string>
	<key>GCM_SENDER_ID</key>
	<string>193362731062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kurimaron.ifThenMethod</string>
	<key>PROJECT_ID</key>
	<string>if-then-method</string>
	<key>STORAGE_BUCKET</key>
	<string>if-then-method.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193362731062:ios:09deb06e5dc8dd859cf897</string>
</dict>
</plist>